# Anything that isn't explicitly owned by a team
# needs approval from the admins
* @input-output-hk/cardano-haskell-packages-trustees

# no specific team
_sources/cardano-api                @input-output-hk/core-tech-release
_sources/cardano-api-gen            @input-output-hk/core-tech-release
_sources/cardano-cli                @input-output-hk/core-tech-release
_sources/cardano-client-demo        @input-output-hk/core-tech-release
_sources/bech32                     @input-output-hk/core-tech-release
_sources/cardano-crypto             @input-output-hk/core-tech-release
_sources/cardano-crypto-class       @input-output-hk/core-tech-release
_sources/cardano-crypto-praos       @input-output-hk/core-tech-release
_sources/measures                   @input-output-hk/core-tech-release
_sources/cardano-slotting           @input-output-hk/core-tech-release
_sources/cardano-mempool            @input-output-hk/core-tech-release
_sources/heapwords                  @input-output-hk/core-tech-release
_sources/cardano-binary             @input-output-hk/core-tech-release
_sources/cardano-binary-test        @input-output-hk/core-tech-release
_sources/base-deriving-via          @input-output-hk/core-tech-release
_sources/orphans-deriving-via       @input-output-hk/core-tech-release
_sources/cardano-strict-containers  @input-output-hk/core-tech-release

# cardano-node
_sources/cardano-node               @input-output-hk/cardano-node
_sources/cardano-git-rev            @input-output-hk/cardano-node
_sources/cardano-capi               @input-output-hk/cardano-node
_sources/cardano-node-chairman      @input-output-hk/cardano-node
_sources/cardano-submit-api         @input-output-hk/cardano-node
_sources/cardano-testnet            @input-output-hk/cardano-node
_sources/optparse-applicative-fork  @input-output-hk/cardano-node

# cardano-ledger
_sources/byron-spec-chain        @input-output-hk/cardano-ledger
_sources/byron-spec-ledger       @input-output-hk/cardano-ledger
_sources/cardano-crypto-test     @input-output-hk/cardano-ledger
_sources/cardano-crypto-wrapper  @input-output-hk/cardano-ledger
_sources/cardano-data            @input-output-hk/cardano-ledger
_sources/cardano-ledger-api      @input-output-hk/cardano-ledger
_sources/cardano-ledger-binary   @input-output-hk/cardano-ledger
_sources/cardano-ledger-core     @input-output-hk/cardano-ledger
_sources/cardano-ledger-pretty   @input-output-hk/cardano-ledger
_sources/cardano-ledger-test     @input-output-hk/cardano-ledger
_sources/cardano-protocol-tpraos @input-output-hk/cardano-ledger
_sources/cuddle                  @input-output-hk/cardano-ledger
_sources/ledger-state            @input-output-hk/cardano-ledger
_sources/moo                     @input-output-hk/cardano-ledger
_sources/non-integral            @input-output-hk/cardano-ledger
_sources/plutus-preprocessor     @input-output-hk/cardano-ledger
_sources/set-algebra             @input-output-hk/cardano-ledger
_sources/small-steps             @input-output-hk/cardano-ledger
_sources/small-steps-test        @input-output-hk/cardano-ledger
_sources/vector-map              @input-output-hk/cardano-ledger

## Eras
_sources/cardano-ledger-allegra         @input-output-hk/cardano-ledger
_sources/cardano-ledger-alonzo          @input-output-hk/cardano-ledger
_sources/cardano-ledger-alonzo-test     @input-output-hk/cardano-ledger
_sources/cardano-ledger-babbage         @input-output-hk/cardano-ledger
_sources/cardano-ledger-babbage-test    @input-output-hk/cardano-ledger
_sources/cardano-ledger-byron           @input-output-hk/cardano-ledger
_sources/cardano-ledger-byron-test      @input-output-hk/cardano-ledger
_sources/cardano-ledger-conway          @input-output-hk/cardano-ledger
_sources/cardano-ledger-conway-test     @input-output-hk/cardano-ledger
_sources/cardano-ledger-mary            @input-output-hk/cardano-ledger
_sources/cardano-ledger-shelley         @input-output-hk/cardano-ledger
_sources/cardano-ledger-shelley-test    @input-output-hk/cardano-ledger
_sources/cardano-ledger-shelley-ma      @input-output-hk/cardano-ledger
_sources/cardano-ledger-shelley-ma-test @input-output-hk/cardano-ledger

# ouroboros-network

## Network
_sources/io-sim                             @input-output-hk/ouroboros-networking
_sources/io-classes                         @input-output-hk/ouroboros-networking
_sources/strict-checked-vars                @input-output-hk/ouroboros-networking
_sources/strict-stm                         @input-output-hk/ouroboros-networking
_sources/strict-mvar                        @input-output-hk/ouroboros-networking
_sources/si-timers                          @input-output-hk/ouroboros-networking
_sources/network-mux                        @input-output-hk/ouroboros-networking
_sources/ntp-client                         @input-output-hk/ouroboros-networking
_sources/typed-protocols                    @input-output-hk/ouroboros-networking
_sources/typed-protocols-cborg              @input-output-hk/ouroboros-networking
_sources/typed-protocols-examples           @input-output-hk/ouroboros-networking
_sources/Win32-network                      @input-output-hk/ouroboros-networking
_sources/ouroboros-network                  @input-output-hk/ouroboros-networking
_sources/ouroboros-network-api              @input-output-hk/ouroboros-networking
_sources/ouroboros-network-framework        @input-output-hk/ouroboros-networking
_sources/ouroboros-network-mock             @input-output-hk/ouroboros-networking
_sources/ouroboros-network-protocols        @input-output-hk/ouroboros-networking
_sources/ouroboros-network-testing          @input-output-hk/ouroboros-networking
_sources/cardano-client                     @input-output-hk/ouroboros-networking
_sources/cardano-ping                       @input-output-hk/ouroboros-networking
_sources/monoidal-synchronisation           @input-output-hk/ouroboros-networking

## Consensus
_sources/ouroboros-consensus/               @IntersectMBO/ouroboros-consensus-maintainers
_sources/ouroboros-consensus-diffusion/     @IntersectMBO/ouroboros-consensus-maintainers
_sources/ouroboros-consensus-test/          @IntersectMBO/ouroboros-consensus-maintainers
_sources/ouroboros-consensus-mock/          @IntersectMBO/ouroboros-consensus-maintainers
_sources/ouroboros-consensus-mock-test/     @IntersectMBO/ouroboros-consensus-maintainers
_sources/ouroboros-consensus-byron/         @IntersectMBO/ouroboros-consensus-maintainers
_sources/ouroboros-consensus-byronspec/     @IntersectMBO/ouroboros-consensus-maintainers
_sources/ouroboros-consensus-byron-test/    @IntersectMBO/ouroboros-consensus-maintainers
_sources/ouroboros-consensus-protocol/      @IntersectMBO/ouroboros-consensus-maintainers
_sources/ouroboros-consensus-shelley/       @IntersectMBO/ouroboros-consensus-maintainers
_sources/ouroboros-consensus-shelley-test/  @IntersectMBO/ouroboros-consensus-maintainers
_sources/ouroboros-consensus-tutorials/     @IntersectMBO/ouroboros-consensus-maintainers
_sources/ouroboros-consensus-cardano/       @IntersectMBO/ouroboros-consensus-maintainers
_sources/ouroboros-consensus-cardano-test/  @IntersectMBO/ouroboros-consensus-maintainers
_sources/ouroboros-consensus-cardano-tools/ @IntersectMBO/ouroboros-consensus-maintainers

_sources/cardano-lmdb/                      @IntersectMBO/ouroboros-consensus-maintainers
_sources/cardano-lmdb-simple/               @IntersectMBO/ouroboros-consensus-maintainers
_sources/diff-containers/                   @IntersectMBO/ouroboros-consensus-maintainers
_sources/fingertree-rm/                     @IntersectMBO/ouroboros-consensus-maintainers
_sources/fs-api/                            @IntersectMBO/ouroboros-consensus-maintainers
_sources/fs-sim/                            @IntersectMBO/ouroboros-consensus-maintainers
_sources/simple-semigroupoids/              @IntersectMBO/ouroboros-consensus-maintainers

# plutus
_sources/plutus-core                @input-output-hk/plutus-core
_sources/plutus-ghc-stub            @input-output-hk/plutus-core
_sources/plutus-ledger-api          @input-output-hk/plutus-core
_sources/plutus-tx                  @input-output-hk/plutus-core
_sources/plutus-tx-plugin           @input-output-hk/plutus-core
_sources/prettyprinter-configurable @input-output-hk/plutus-core
_sources/word-array                 @input-output-hk/plutus-core

_sources/flat     @input-output-hk/plutus-core
_sources/inline-r @input-output-hk/plutus-core
_sources/int-cast @input-output-hk/plutus-core

# plutus-apps
_sources/quickcheck-contractmodel @input-output-hk/plutus-tools

# hydra
_sources/hydra-* @input-output-hk/hydra-engineering
_sources/haskell-accumulator @cardano-scaling/team-hydra

# performance-tracing
_sources/cardano-topology               @input-output-hk/performance-tracing
_sources/cardano-tracer                 @input-output-hk/performance-tracing
_sources/cardano-prometheus-tracker     @input-output-hk/performance-tracing
_sources/ekg                            @input-output-hk/performance-tracing
_sources/ekg-core                       @input-output-hk/performance-tracing
_sources/ekg-forward                    @input-output-hk/performance-tracing
_sources/ekg-json                       @input-output-hk/performance-tracing
_sources/iohk-monitoring                @input-output-hk/performance-tracing
_sources/lobemo-backend-aggregation     @input-output-hk/performance-tracing
_sources/lobemo-backend-ekg             @input-output-hk/performance-tracing
_sources/lobemo-backend-monitoring      @input-output-hk/performance-tracing
_sources/lobemo-backend-trace-forwarder @input-output-hk/performance-tracing
_sources/lobemo-scribe-systemd          @input-output-hk/performance-tracing
_sources/locli                          @input-output-hk/performance-tracing
_sources/trace-dispatcher               @input-output-hk/performance-tracing
_sources/trace-forward                  @input-output-hk/performance-tracing
_sources/trace-resources                @input-output-hk/performance-tracing
_sources/tracer-transformers            @input-output-hk/performance-tracing
_sources/tx-generator                   @input-output-hk/performance-tracing

# Marlowe
_sources/async-components     @input-output-hk/marlowe
_sources/eventuo11y-extras    @input-output-hk/marlowe
_sources/hasql-dynamic-syntax @input-output-hk/marlowe
_sources/marlowe              @input-output-hk/marlowe
_sources/marlowe-cardano      @input-output-hk/marlowe
_sources/marlowe-chain-sync   @input-output-hk/marlowe
_sources/marlowe-client       @input-output-hk/marlowe
_sources/marlowe-object       @input-output-hk/marlowe
_sources/marlowe-plutus       @input-output-hk/marlowe
_sources/marlowe-protocols    @input-output-hk/marlowe
_sources/marlowe-reference    @input-output-hk/marlowe
_sources/marlowe-runtime      @input-output-hk/marlowe
_sources/marlowe-runtime-web  @input-output-hk/marlowe
_sources/marlowe-spec-test    @input-output-hk/marlowe
_sources/marlowe-test         @input-output-hk/marlowe

# HAL team
_sources/cardano-wallet-read      @cardano-foundation/cf-hal-team

# Tweag
_sources/merkle-tree-incremental @tweag/functional-engineering
_sources/scls-cardano            @tweag/functional-engineering
_sources/scls-cbor               @tweag/functional-engineering
_sources/scls-core               @tweag/functional-engineering
_sources/scls-format             @tweag/functional-engineering
_sources/scls-util               @tweag/functional-engineering
